* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
li {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

body {
  margin: 0;
}

p {
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  padding: 1em;
  line-height: 1.5;
}

li {
  list-style-type: none;
  padding: .5em 0;
}

a {
  text-decoration: none;
  color: #696969;
}

img {
  max-width: 100%;
}

/* Navigation */
.name {
  margin: 0;
  padding-top: 15px;
}

.nav {
  padding-right: 40px;
}

.nav li {
  display: block;
  margin-bottom: 1em;

}

a:hover {
  color: lightgrey;
}

/* Header */
.main-header {
  background: #fff5ee;
  text-align: center;
  width: 100%
}

.profile-banner {
  padding: 1em;
  line-height: 1.5;
}

.profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.portfolio-image {
  max-width: 100%;
}

/* Containers */
.main-container {
  text-align: center;
}

.main-container h2 {
  padding: 16px 0;
}

.main-container .portfolio-container {
  text-align: center;
  background-color: #fff;
  padding-left: 1em;
  padding-right: 1em;
}

/* Skills */
.skills {
  background: #fff5ee;
  width: 100%;
  text-align: center;
  padding: 1em;
}

.skills ul {
  padding-left: 0;
}

/* Contact Section */
.contact {
  background: #dcdcdc;
  width: 100%;
  text-align: center;
  padding: 1em;
}

#email {
  margin-bottom: 0;
}

/* Footer */
.nav-list {
  display: none;
}

.main-footer {
  text-align: center;
  background: #fff5ee;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.name-footer {
  margin-top: 10px;
  padding-top: 1em;
  padding-left: 10px;
  float: left;

}

.nav-footer {
  padding-left: 0;
  padding-right: 10px;
  float: right;
}

ul .nav-footer {
  padding-left: 0;
  padding-right: 10px;
}

/* Media Queries */
@media (min-width: 768px) {

  .main-nav,
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .nav li,
  .nav-footer li {
    display: inline-block;
    margin-left: 15px;

  }

  .profile-pic {
    float: right;
    width: 325px;
    height: 325px;
    border-radius: 50%;
  }

  .portfolio-container {
    float: left;
    width: 50%;
  }

  .nav-footer {
    padding-right: 40px;
  }

  .nav-li {
    float: right;
  }

  .nav-footer .top {
    display: none;
  }
}

@media (min-width: 1024px) {
  .name {
    position: absolute;
    left: 1em;
    top: 1em;
  }

  .nav {
    position: absolute;
    right: 1em;
    top: 1em;
  }

  .main-nav li {
    display: inline-block;
    padding-left: 15px;
  }

  .profile-banner {
    padding-top: 90px;
    padding-right: 50px;
  }

  .profile-pic {
    float: right;
    width: 325px;
    height: 325px;
    border-radius: 50%;
    max-width: 50%;
  }

  .header-text {
    display: inline-block;
    width: 50%;
    padding-top: 70px;
    font-size: 1.5em;
  }

  .main-container {
    width: 90%;
    margin: 0 auto;
    max-width: 1150px;
  }

  .portfolio-container {
    width: 33.33%;
    float: left;
  }

  .contact {
    display: inline-block;
  }

  .main-footer {
    padding-top: 10px;
    padding-left: 10px;
  }

  .name-footer {
    float: left
  }

  .nav-footer,
  .nav-li  {
    float: right;
  }


  .nav-footer .top {
    display: none;
  }
}

/* Float Clearfix */
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
